.message-container {
  color: white;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 40px;
  margin-top: 1.5rem;
}

.message-container[data-is-same-sender~="true"] {
  margin: 0;
  display: flex;
  padding-left: 50px;
}

.message-left-container {
  margin-right: 10px;
}

.message-left-container img {
  width: 40px;
}

.message-right-container {
  width: 100%;
  padding-right: 0.5rem;
}

.message-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.25rem;
}

.message-name-container p {
  font-size: 0.95rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.message-name-container span {
  font-size: 0.7rem;
  color: #7c7c7c;
}

.message-content {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}
