.form-validation {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-validation span {
  width: 20px;
  height: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-validation span svg {
  width: 8px;
  height: 8px;
}

.form-validation span svg path {
  fill: #6cc0ac;
}

.form-validation span[data-form-validation~="true"] {
  border: 2px solid #6cc0ac;
  background: #6affb727;
}
