.show-password {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-password svg {
  width: 22.5px;
}

.show-password svg path {
  fill: var(--CTA-color);
}

.show-password:hover svg path {
  fill: var(--CTA-color-hover);
}

.show-password[data-password-is-hidden~="false"] svg path {
  fill: var(--secondary-color);
}

.show-password[data-password-is-hidden~="false"]:hover svg path {
  fill: #64667c;
}
