.show-password {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-password:hover {
  background: #23242c;
  border: 1px solid var(--secondary-color);
  border-left: none;
}

.show-password svg {
  width: 22.5px;
}

.show-password svg path {
  fill: var(--CTA-color);
}

.show-password[data-password-is-hidden~="false"] svg path {
  fill: var(--secondary-color);
}
