.chat-container {
  width: 100%;
  max-height: calc(100vh - 95px);
}

.chat-user-list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.chat-top-container {
  width: 100%;
  margin-top: 95px;
}

.chat-content-container {
  width: 100%;
  height: calc(100vh - 60px - 95px);
  position: relative;
}

@media screen and (max-width: 850px) {
  .chat-container {
    display: initial;
  }

  .chat-user-list {
    display: none;
  }
}
