.chat-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100vh;
  max-height: 100vh;
}

.chat-user-list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.chat-top-container {
  width: 100%;
}

.chat-content-container {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}
