.userCard-container {
  background: #1d1e25;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.userCard-container[data-online~="false"] {
  opacity: 0.5;
}
/* UserCard left */

.userCard-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userCard-left-picture-container {
  margin-right: 1rem;
}

.userCard-left-picture-container img {
  width: 45px;
}

.userCard-left-text-container {
  position: relative;
}

.userCard-left-text-tooltip-container {
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  background-color: rgb(34, 34, 37);
  font-size: 0.65rem;
  width: max-content;
  border-radius: 5px;
  display: flex;
  opacity: 0;
  transform: translateY(10px);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.userCard-left-text-container:hover .userCard-left-text-tooltip-container {
  opacity: 1;
  transform: translateY(0);
}

.userCard-left-text-container p {
  font-size: 1em;
  font-weight: 500;
  color: white;
}

.userCard-left-text-container span {
  font-size: 0.8rem;
  color: #b5b5b5;
}

/* UserCard right */

.userCard-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userCard-right p {
  font-size: 0.75rem;
  color: #3dec20;
  font-weight: 500;
  margin-right: 0.5rem;
}
.userCard-right[data-online~="false"] p {
  color: var(--secondary-color);
}

.userCard-right span {
  display: block;
  width: 10px;
  height: 10px;
  background: #3dec20;
  border-radius: 50%;
}

.userCard-right[data-online~="false"] span {
  background: var(--secondary-color);
}

@media screen and (max-width: 500px) {
  .userCard-right p {
    display: none;
  }
}
